.container {
	height: 100%;
	width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}
.nav {
    text-align: center;
    width: 115px;
    -ms-flex: 0 115px;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;
}
.thumbnail {
    height: 75px;
    cursor: pointer;
}
.layout {
    width: 333px;
    height: 345px;
    box-shadow: 0 0 1px rgba(5, 13, 26, 0.8);
    line-height: 0;
    position: relative;
    margin: 0 auto;
}
.background {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 333px 345px;
    position: absolute;
}
.background-barns {
    background-image: url("../images/barns.jpg");
}
.background-chedda {
    background-image: url("../images/chedda.jpg");
}