.container {
	height: 100%;
	width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}
.nav {
    text-align: center;
    width: 115px;
    -ms-flex: 0 115px;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;
}
.thumbnail {
    height: 75px;
    cursor: pointer;
}
.main {
    text-align: center;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}
.layout {
    width: 333px;
    height: 345px;
    box-shadow: 0 0 1px rgba(5, 13, 26, 0.8);
    line-height: 0;
    position: relative;
    margin: 0 auto;
}
.background {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 333px 345px;
    position: absolute;
}
.background-barns {
    background-image: url("../images/barns.jpg");
}
.background-chedda {
    background-image: url("../images/chedda.jpg");
}
.container-tile {
    position: absolute;
}
.tile {
    cursor: pointer;
    box-shadow: 0 0 3px rgba(5, 13, 26, 0.8);
    height: 115px;
}
.hide {
    display: none;
}
.menu-buttons {
    margin-top: 0.7em;
}
.btn {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 5px;
}
.btn:disabled, .btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
}
.pos0 {
    left: 0;
    top: 0;
}
.pos1 {
    left: 111px;
    top: 0;
}
.pos2 {
    left: 222px;
    top: 0;
}
.pos3 {
    left: 0;
    top: 115px;
}
.pos4 {
    left: 111px;
    top: 115px;
}
.pos5 {
    left: 222px;
    top: 115px;
}
.pos6 {
    left: 0;
    top: 230px;
}
.pos7 {
    left: 111px;
    top: 230px;
}
.pos8 {
    left: 222px;
    top: 230px;
}
.animate {
    transition: all 0.5s ease;
}
.progress-ring {
    border-radius: 50%;
    border-top: 3px solid #324fb1;
    border-right: 3px solid transparent;
    width: 25px;
    height: 25px;
    -webkit-animation: spinner 2s linear infinite;
    animation: spinner .6s linear infinite;
    margin-top: 1em;
    display: inline-block;
}

@-webkit-keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}